/**
 * Discussions manager stylesheet
 *
 * @author Pierre HUBERT
 */

#discussionsElem {
	position: fixed;
	bottom: 0px;
	text-align: right;
	padding-right: 5px;
	z-index: 1000;
	right: 0px;
}

#discussionsElem .open-discussion-button {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	vertical-align: bottom;
}