/**
 * Friends list script file
 *
 * @author Pierre HUBERT
 */

.personnal-friends-list .friend a {
	color: white;
}
.personnal-friends-list .friend a:hover {
	color: #001F3F;
}

.personnal-friends-list .friend img {
	margin: auto 10px auto auto;
	max-width: 40px;
	height: 40px;
	border-radius: 50%;
	visibility: visible;
}

.personnal-friends-list .friend .friends-name {
	display: inline-block;
	white-space: normal;
	max-width: 100px;
	text-align: left;
	vertical-align: middle;
}

.personnal-friends-list .friend {
	margin-bottom: 10px;
}

.personnal-friends-list .friend .friends-name {
	width: 200px;
	max-width: 200px;
}

.personnal-friends-list .friend .friends-actions {
	display: inline-block;
	width: 250px;
}

.personnal-friends-list .friend .friends-actions .btn {
	width: 100px;
}