/**
 * Comments form stylesheet
 *
 * @author Pierre HUBERT
 */

.comment-creation-form {
	margin-top: 10px;
}

.comment-creation-form:first-child {
	margin-top: 0px;
}

.comment-creation-form .input-group-btn .comment-emoji-select .btn {
	padding-left: 4px;
	padding-right: 2px;
}
.comment-creation-form .input-group-btn .comment-image-select .btn {
	padding-left: 2px;
	padding-right: 5px;
}

.comment-creation-form .comment-image-select {
	margin-bottom: -2px !important;
}

.comment-creation-form .comment-image-select input[type="file"]{
	display: none;
}

.comment-creation-form .comment-image-select a,
.comment-creation-form .comment-emoji-select a {
	color: black;
}