/**
 * Comments UI
 *
 * @author Pierre HUBERT
 */

.post-comments {
	padding: 10px;
}

.post-comments .comment-img-contener {
	text-align: center;
}

.post-comments img.comment-img {
	width: 100px !important;
	height: auto !important;
	float: none;
}

.post-comments .delete-comment-link,
.post-comments .edit-comment-link {
	margin-left: 5px;
	color: #b5bbc8;
}

.post-comments .delete-comment-link:active,
.post-comments .edit-comment-link:active {
	color: black;
}

.post-comments .comment-content .emoji {
	float: none;
    height: 1em !important;
    width: auto !important;
}