/**
 * Posts edition stylesheet
 *
 * @author Pierre HUBERT
 */

.edit-post-modal .editor {
	width: 100%;
	min-height: 100px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #dddddd;
	padding: 10px;
	margin-bottom: 10px;
}