/**
 * Posts creation form
 *
 * @author Pierre HUBERT
 */

/**
 * Message text form
 */
.post-form .new-message {
	width: 100%;
	min-height: 100px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #dddddd;
	padding: 10px;
	margin-bottom: 10px;
}


/**
 * Message type chooser
 */
.post-form .post-types {
	text-align: center;
}

.post-form .post-types label {
	margin: 5px;
}

.post-form .post-form-choice input {
	display: none;
}

.post-form .post-form-choice input:checked ~ span {
	color: #72afd2;
	font-size: 110%;
}


/**
 * Post-types specific
 */
.post-form .post-image,
.post-form .post-youtube,
.post-form .post-movie,
.post-form .post-weblink,
.post-form .post-pdf,
.post-form .post-countdown,
.post-form .post-survey {
	display: none;
}

.post-form .post-movie button {
	margin-right: 5px;
}

.post-form .post-survey .select2-dropdown {
	/* Hide select2 suggestions*/
	display: none;
}

/**
 * Visibility choice
 */
.post-form .post-visiblity-container {
	display: inline-block;
	margin-right: 10px;
}

.post-form .post-visiblity-container label {
	margin-left: 5px;
}

.post-form .post-visiblity-container input {
	display: none;
}

.post-form .post-visiblity-container span {
	color: #b5bbc8;
}

.post-form .post-visiblity-container input:checked ~ span {
	color: #111111;
}