/**
 * Posts creation form
 *
 * @author Pierre HUBERT
 */

.post-form .new-message {
	width: 100%;
	min-height: 100px;
	font-size: 14px;
	line-height: 18px;
	border: 1px solid #dddddd;
	padding: 10px;
	margin-bottom: 10px;
}

.post-form .post-types {
	text-align: center;
}

.post-form .post-types label {
	margin: 5px;
}

.post-form .post-form-choice input {
	display: none;
}

.post-form-choice input:checked ~ span {
	color: #72afd2;
	font-size: 110%;
}