/**
 * Posts UI stylesheet
 *
 * @author Pierre HUBERT
 */

.post .post_content {
	text-align: center;
}

.post .post-buttons {
	text-align: center;
}

.post .post-image {
	width: 100%;
}

.post .post-video {
	max-width: 100%;
	height: 300px;
}