/**
 * Posts UI stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * Top right actions
 */
.post .top-right-buttons div {
	display: inline-block;
	padding-right: 10px;
}

.post .top-right-buttons div .btn-group {
	padding-right: 0px;
}

/**
 * For the visibility
 */
.post .visibility .read-only {
	color: #b5bbc8;
}

/**
 * Posts deletion and edition
 */
.post .del-post-div a,
.post .edit-post-div a {
	color: #b5bbc8;
}
.post .del-post-div a:active,
.post .edit-post-div a:active {
	color: black;
}

/**
 * For the post content
 */
.post .post_content {
	text-align: center;
}

.post .post-buttons {
	text-align: center;
}

.post .post-image {
	width: 100%;
}

.post .post-video {
	text-align: center;
}

.post .post-video video {
	max-width: 100%;
	height: 300px;
}

.post .post-pdf {
	text-align: center;
}

.post .post-youtube {
	width: 100%;
	height: 300px;
}

.post .post-countdown {
	text-align: center;
	padding: 10px;
}


/**
 * Survey specific rules
 */
.post .post-survey-question {
	text-align: center;
}

.post .post-survey-chart-contener {
	margin-bottom: 10px;
}

.post .survey-given-response {
	text-align: center;
}