/**
 * Menubar stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * adminLTE fixes
 */
@media (max-width: 767px) {
 	.fixed .content-wrapper {
		padding-top: 50px !important;
	}
}

/**
 * Authenticated useres
 */
header .dropdown .fa-gear {
	vertical-align: middle;
}


/**
 * Not authenticated users
 */

/**
 * Login form
 */
.menubar-loginForm .form-control {
	margin-right: 1px;
}