/**
 * Menubar stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * adminLTE fixes
 */
@media (max-width: 767px) {
 	.fixed .content-wrapper {
		padding-top: 50px !important;
	}
}

/**
 * Authenticated users
 */
header .dropdown .fa-gear {
	vertical-align: middle;
}

@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-user-menu-action .dropdown-menu li a {
    color: #333 !important;
  }
}


/**
 * Not authenticated users
 */

/**
 * Login form
 */
.menubar-loginForm .form-control {
	margin-right: 1px;
}