/**
 * Latests post stylesheet
 *
 * @author Pierre HUBERT
 */

/**
 * Error message
 */
.latestPostsError {
	width: 100%;
	max-width: 500px;
	margin: auto;
	margin-top: 30px;
}

.latest-posts-row {
	padding-top: 15px;
}

.latest-posts-row .col-md-6 {
	margin: auto;
	float: none;
}