/**
 * Profile information stylesheet
 *
 * @author Pierre HUBERT
 */

.user-tag-in-profile {
	color: #6f737b;
	text-align: center;
	font-size: 90%;
	margin-bottom: 10px;
}

.about-user-box {
	word-break: break-all;
}