/**
 * Account image settings section stylesheet
 *
 * @author Pierre HUBERT
 */

.box-account-image-settings .box-body {
	text-align: center;
}

.box-account-image-settings .settings-account-image-preview {
	max-width: 100%;
	display: block;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box-account-image-settings .account-image-visibility-form {
	text-align: justify;
}