/**
 * General settings stylesheet
 *
 * @author Pierre HUBERT
 */

.box-general-settings .input-user-id {
	width: 29%;
	display: inline-block;
}

.box-general-settings .input-user-email {
	width: 70%;
	display: inline-block;
	margin-left: 1%;
}

.box-general-settings .submit-form {
	width: 100px;
	margin: auto;
	display: block;
}

invalidDirectory {
	color: red;
	font-size: 120%;
}